:root {
  /* UI-UX COLORS */
  --col-primary-orange: #ecac40;
  --col-primary-orange-hover: #da9a2d;
  --col-side-bar: #666666;
  --col-side-bar-hover: #4e4d4d;

  --col-accents: #FFFFFF;

  /* FONT VARS */    
  --size-header2: 16px;
  --weight-header2: 600;
  --lineHeight-header2: 24px;

  --size-text: 14px;
  --weight-text: 400;
  --lineHeight-text: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
